# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Michael Terry

*~
/_build/
/.buildconfig
/.cache/
/acceptance/config.ini
/flatpak/.flatpak-builder
/tests/data/
__pycache__/

# gitlab CI artifacts
/_build/
/org.gnome.DejaDupDevel.flatpak
/repo/
