# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Michael Terry

*~
/.buildconfig
/.cache/
/acceptance/config.ini
/builddir/
/flatpak/.flatpak-builder
/tests/data/
__pycache__/

# gitlab CI artifacts
/_build/
/deja-dup-dev.flatpak
/repo/
